# I'm using vim, therefore ignore swap-files used by vim
*.swp
*.swo
*.vim

# Ignore the follwing directories
/bin
/obj
/tools
/dev
/lib
/cli-dbg

# Make exception for amoloader_lib
!/lib/amoloader/amoloader.h
!/lib/amoloader/libamo.a

# for ctags vim
/tags

# Just to be safe, ignore all object-files
*.o
