# I'm using vim, therefore ignore files used by vim
*.swp
*.swo

# Ignore executable
/build/game

# Ignore directories created while building the project
/objects

# Ignore subrepositories
/XSDL

# Just to be save, ignore all object-files
*.o

# Additional ignores
/dev
/tools
