# I'm using vim, therefore ignore files used by vim
*.swp
*.swo

# Ignore directories created while building the project
/build
/objects

# Just to be save, ignore all object-files
*.o

# Ignore the XSDL-dependecy-directory
/XSDL

# Additional ignores
/dev
/tools
